VERIFY_TOKEN=financebot_verificacao_123
ADMIN_PRINCIPAL=557381777676
WHATSAPP_TOKEN=cole_aqui_o_token_da_cloud_api
WHATSAPP_PHONE_NUMBER_ID=1065563606631161
WHATSAPP_GRAPH_VERSION=v23.0
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
DISCORD_WEBHOOK_URL=cole_aqui_sua_webhook
JWT_SECRET_KEY=trocar_essa_chave_em_producao
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

FRONTEND_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
